@import "../../assets/styles/variables.scss";

.loginForm {
  max-width: 52%;
  position: absolute;
  @media (max-width: $container-medium-max-width) {
    position: relative;
    max-width: 100%;
    padding: 40px 20px;
  }
}

.loginFormContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  @media (max-width: $container-medium-max-width) {
    background-color: $white;
    width: 100%;
  }
  @media (min-width: $container-medium-max-width) {
    margin-bottom: 60px;
  }
}

.circleBg {
  @media (min-width: $container-medium-max-width) {
    background-color: $white;
    width: 766px;
    height: 766px;
    max-width: 80vmin;
    max-height: 80vmin;
    z-index: -1;
    border-radius: 50%;
  }
  @media (max-width: $container-medium-max-width) {
    display: none;
  }
}

.pageTitle {
  margin-bottom: 27px;
  @media (max-width: $container-medium-max-width) {
    margin-bottom: 10px;
  }
}

.description {
  margin-bottom: 57px;
  @media (max-width: $container-medium-max-width) {
    margin-bottom: 20px;
  }
}

.email,
.password {
  margin-bottom: 20px;
}

.checkbox,
.bottomBar {
  font-family: $font-family-semibold;
  font-size: $font-size-smaller;
}

.checkbox {
  display: flex;
  align-items: center;
  @media (min-width: $container-medium-max-width) {
    margin-bottom: 13px;
  }
}

.bottomBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    background-color: $color-primary;
    border-radius: 50%;
    border: none;
    width: 70px;
    height: 70px;
    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }
}

.error {
  color: #ff0000;
  font-size: $font-size-smaller;
  margin-top: 5px;
}
