@import "../../assets/styles/variables.scss";

body {
  background-color: $color-secondary;
  @media (min-width: $container-medium-max-width) {
    overflow: hidden;
  }
}

.loginPage {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (max-width: $container-medium-max-width) {
    padding: 30px 0;
  }
}

.circle {
  &Green,
  &Blue,
  &Orange {
    position: absolute;
    transition: all ease 1s;
    @media (max-width: $container-medium-max-width) {
      display: none;
    }
  }
  &Green {
    top: 10%;
    left: 10%;
  }
  &Blue {
    top: 80%;
    left: 7%;
  }
  &Orange {
    top: 10%;
    left: 85%;
  }
  &White {
    @media (max-width: $container-medium-max-width) {
      width: 65vmin !important;
      height: 65vmin !important;
      position: relative;
      margin-bottom: 80px;
    }
    h2 {
      line-height: 91px;
      @media (max-width: $container-medium-max-width) {
        font-size: calc(65vmin / 5) !important;
        line-height: calc(65vmin / 5) !important;
      }
    }
  }
}

.register,
.logo {
  @media (min-width: $container-medium-max-width) {
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
}

.logo {
  right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width: $container-medium-max-width) {
    margin-bottom: 5px;
  }
}

.register {
  @media (max-width: $container-medium-max-width) {
    text-align: center;
  }
}
