@import "../../assets/styles/variables.scss";

body {
  background-color: $color-secondary;
}

.loginPage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (min-width: $container-medium-max-width) {
    min-height: 100vh;
  }
  @media (max-width: $container-medium-max-width) {
    padding: 20px 0;
  }
}

.circleContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.circle {
  &Green {
    top: 10%;
    left: 10%;
    @media (max-width: $container-medium-max-width) {
      top: -15%;
      left: -15%;
    }
  }
  &Blue {
    top: 80%;
    left: 7%;
    @media (max-width: $container-medium-max-width) {
      top: 50%;
      left: -25%;
      width: 45vmin !important;
      height: 45vmin !important;
    }
  }
  &Orange {
    top: 10%;
    left: 85%;
    @media (max-width: $container-medium-max-width) {
      top: -5%;
      left: 85%;
      width: 50vmin !important;
      height: 50vmin !important;
    }
  }
  &White {
    @media (max-width: $container-medium-max-width) {
      width: 65vmin !important;
      height: 65vmin !important;
      margin-bottom: 0;
      top: 25%;
    }
    h2 {
      line-height: 91px;
      @media (max-width: $container-medium-max-width) {
        font-size: calc(65vmin / 5) !important;
        line-height: calc(65vmin / 5) !important;
      }
    }
  }
}

.register,
.logo {
  @media (min-width: $container-medium-max-width) {
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
}

.logo {
  right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width: $container-medium-max-width) {
    margin-bottom: 5px;
  }
}

.register {
  @media (max-width: $container-medium-max-width) {
    text-align: center;
  }
}
