body {
  font-family: $font-family-global;
  font-size: $font-size-global;
  line-height: 27px;
  color: $color-body;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: $font-family-pageTitle;
  line-height: 47px;
}

h1 {
  font-size: $font-size-pageTitle;
}
