// COLORS
$black: #000000;
$white: #ffffff;
$color-primary: #5972d9;
$color-secondary: #e6f3f5;
$color-body: $black;

// FONTS
$font-family-bold: "gilroybold";
$font-family-medium: "gilroymedium";
$font-family-semibold: "gilroysemibold";
$font-family-regular: "gilroyregular";

$font-family-global: $font-family-medium, Helvetica, Arial, sans-serif;
$font-family-pageTitle: $font-family-bold, Helvetica, Arial, sans-serif;

$font-size-global: 17px;
$font-size-smaller: 14px;
$font-size-pageTitle: 43px;

// CONTAINER
$container-medium-max-width: 860px;
