// COLORS
$black: #000000;
$white: #ffffff;
$color-primary: #5972d9;
$color-secondary: #e6f3f5;
$color-body: $black;

// FONTS
$font-family-global: "Open Sans", Helvetica, Roboto, Arial, sans-serif;

$font-size-global: 17px;
$font-size-smaller: 14px;
$font-size-pageTitle: 43px;

// CONTAINER
$container-xsmall-max-width: 320px;
$container-small-max-width: 640px;
